extends layout

block content
  h1= title
  p Welcome to #{title}
  #content
    .block
      form(action="/auth", method="post")
        input(type="text", name="qtestUrl", placeholder="Enter your qTest URL")
        br
        input(type="text", name="username", placeholder="Username")
        br
        input(type="password", name="password", placeholder="Password")
        br
        input(type="submit", value="Login")
        br
      p #{error}
